.home {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
    
    &__header {
        @include flex(column, center, space-between);
        gap: 5px;
        margin-top: calc($base-size * 2);
        margin-bottom: calc($base-size * 2);

        h1 {
            @extend .h1;
            color: $color-light;
            margin-bottom: 0;
        }
        
        h2 {
            @extend .h2;
            color: $color-light;            
        }

        h3 {
            font-size: 0px;
            color: $color-light;
            font-style: italic;
            font-family: $font-text;
            transform: translateY(+50px);
        }
    }

    &__links {
        cursor: pointer;
        @include flex(row, stretch, space-between);
        gap: 5px;
        height: 200px;
        width: 100%;

        a {
            @include flex(column, center,center);
            flex: 1 1 45%;
            background-position: center;
            text-decoration: none;

            &:hover h3 {
                display: block;
                font-size: 15px;
                transform: translateY(0px);
                transition: all 1s;

            }
        }

        .link-menu {
            background-image: url("/images/home/pizza-1.jpg");
        }

        .link-booking {
            background-image: url("/images/home/pizza-2.jpg");
        }
    }

    &__info {
        @include flex(column, center, center);
        height: 200px;
        width: 100%;
        background-color: $color-main;
    }

    &__carousel {
        margin-top: 125px;
        margin-bottom: 125px;

        .comment-wrapper {
            @include flex(row, center, space-between);
            min-height: 250px;
            padding: 0 5px;

            .image-box {
                flex: 1 1 40%;
//                max-width: 250px;
                height: 100%;
                overflow: hidden;
                left: 0;
            }



            .comment-text {
                @include flex(column, left, space-between);
                flex: 1 1 60%;
                padding: 15px;
                text-align: left;
            }

            .li {
                list-style-type: square;
            }
            
            .author {
                margin-top: 5px;
            }
        }

    }

    &__galery {
        margin-bottom: 50px;
        .image-list {
            @include flex(row, center, space-between);
            flex-wrap: wrap;
            gap: 7px;

            .image-box {
                position: relative;
                flex: 0 0 32%;
                height: 200px;
                cursor: pointer;

                &::after {
                    content: " ";
                    z-index: 8888;
                    display: none;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: $color-dark;
                    opacity: 0.3;
                }

                &:hover {
                    &::after{
                        display: block;
                        transition: all 2s;
                    }

                    .image-options {
                        display: block;
                    }
                }
            }

            .image-options {
                display: none;
                @include center();
                letter-spacing: 5px;
                z-index: 9999;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    i {
        font-size: 25px;
        color: $color-light;

        &:hover{
            color: $color-main;
        }
    }
    
}